/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_index.scss */
header {
  height: 85px;
  background-color: #a0b137;
  padding-top: 20px;
}
/* line 6, ../sass/_index.scss */
header .logo {
  float: left;
  display: inline-block;
  margin-left: 130px;
}
/* line 10, ../sass/_index.scss */
header .logo h1 {
  display: inline-block;
  font-size: 52px;
  color: white;
  font-family: 'robotolight';
}
/* line 17, ../sass/_index.scss */
header .contact {
  float: left;
  margin-left: 90px;
}
/* line 20, ../sass/_index.scss */
header .contact .number {
  margin-bottom: 15px;
}
/* line 23, ../sass/_index.scss */
header .contact .number li:before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  background: url("../img/cont-number.png") no-repeat;
  vertical-align: middle;
}
/* line 33, ../sass/_index.scss */
header .contact .number .life:before {
  background-position: -35px -5px;
  width: 30px;
  height: 16px;
}
/* line 40, ../sass/_index.scss */
header .contact .number .star:before {
  background-position: -5px -5px;
  width: 20px;
  height: 20px;
}
/* line 47, ../sass/_index.scss */
header .contact .number .mts:before {
  background-position: -35px -31px;
  width: 19px;
  height: 19px;
}
/* line 54, ../sass/_index.scss */
header .contact .number li span {
  vertical-align: middle;
}
/* line 58, ../sass/_index.scss */
header .contact .number li:not(last-child) {
  margin-right: 40px;
}
/* line 63, ../sass/_index.scss */
header .contact .header-nav a {
  color: white;
  font-size: 15px;
}
/* line 67, ../sass/_index.scss */
header .contact .header-nav a:hover {
  color: #db3a34;
}
/* line 70, ../sass/_index.scss */
header .contact .header-nav li:not(last-child) {
  margin-right: 35px;
}
/* line 74, ../sass/_index.scss */
header .contact li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'robotomedium';
  color: #fff;
  font-size: 16px;
}

/* line 94, ../sass/_index.scss */
main .carusel {
  position: relative;
}
/* line 96, ../sass/_index.scss */
main .carusel img {
  width: 100%;
}
/* line 101, ../sass/_index.scss */
main .slick-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
}
/* line 105, ../sass/_index.scss */
main .slick-dots li {
  display: inline-block;
}
/* line 107, ../sass/_index.scss */
main .slick-dots li button {
  color: transparent;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #a0b137;
  margin-right: 22px;
}
/* line 114, ../sass/_index.scss */
main .slick-dots li button .slick-active {
  background-color: #db3a34;
}
/* line 120, ../sass/_index.scss */
main .slick-dots .slick-active button {
  background-color: #db3a34;
}
/* line 125, ../sass/_index.scss */
main .timer-wrap {
  margin: 42px 130px;
  overflow: hidden;
  border-bottom: 2px solid #6a5e5a;
  -webkit-border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
  -o-border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
  border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
}
/* line 132, ../sass/_index.scss */
main .timer-wrap .title {
  margin-bottom: 7px;
}
/* line 135, ../sass/_index.scss */
main .timer-wrap .red-star {
  font-size: 16px;
  color: #000;
  font-family: 'robotoregular';
}
/* line 139, ../sass/_index.scss */
main .timer-wrap .red-star span {
  font-size: 30px;
  color: #db3a34;
}
/* line 144, ../sass/_index.scss */
main .timer-wrap .timer {
  float: left;
}
/* line 147, ../sass/_index.scss */
main .timer-wrap .discount-form {
  float: right;
  width: 300px;
}
/* line 150, ../sass/_index.scss */
main .timer-wrap .discount-form h6 {
  margin-bottom: 30px;
}
/* line 153, ../sass/_index.scss */
main .timer-wrap .discount-form input {
  width: 100%;
  margin-bottom: 18px;
}
/* line 159, ../sass/_index.scss */
main .price {
  padding: 38px 130px 59px 130px;
}
/* line 161, ../sass/_index.scss */
main .price .title {
  margin-bottom: 30px;
}
/* line 164, ../sass/_index.scss */
main .price .directions {
  margin: 0 -10px;
}
/* line 166, ../sass/_index.scss */
main .price .directions .price-title {
  overflow: hidden;
}
/* line 170, ../sass/_index.scss */
main .price .price-block {
  width: 50%;
  height: 182px;
  background-color: #ebebeb;
  float: left;
  padding: 0 10px;
  margin-bottom: 35px;
  background-clip: content-box;
}
/* line 178, ../sass/_index.scss */
main .price .price-block .direction {
  width: 320px;
  height: 50px;
  background: #a0b137;
  padding: 13px 20px;
  float: left;
}
/* line 185, ../sass/_index.scss */
main .price .price-block .total-price {
  width: 140px;
  float: right;
  padding-top: 5px;
}
/* line 190, ../sass/_index.scss */
main .price .price-block .total-price span .old-price {
  font-family: 'robotolight';
  font-size: 16px;
  color: #000;
  text-decoration: line-through;
  margin-right: 60px;
}
/* line 199, ../sass/_index.scss */
main .price .price-block .direction span {
  font-family: 'robotomedium';
  font-size: 21px;
  color: #fefefe;
  display: inline-block;
  position: relative;
}
/* line 206, ../sass/_index.scss */
main .price .price-block .direction span + span {
  padding-left: 26px;
}
/* line 208, ../sass/_index.scss */
main .price .price-block .direction span + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 8px;
  left: 2px;
  top: 50%;
  margin-top: -4px;
  background: url(../img/derection-arrow.png) no-repeat;
}
/* line 220, ../sass/_index.scss */
main .price .price-block .real-price {
  width: 140px;
  float: right;
  padding-top: 5px;
}
/* line 224, ../sass/_index.scss */
main .price .price-block .real-price span {
  float: right;
}
/* line 227, ../sass/_index.scss */
main .price .price-block .real-price .old-price {
  font-family: 'robotolight';
  font-size: 16px;
  color: #000;
  text-decoration: line-through;
  margin-right: 60px;
}
/* line 234, ../sass/_index.scss */
main .price .price-block .real-price .new-price {
  font-size: 24px;
  color: #db3a34;
  font-family: 'robotomedium';
  margin-right: 20px;
}
/* line 241, ../sass/_index.scss */
main .price .price-block .price-descrip {
  padding: 20px 20px 10px;
  overflow: hidden;
}
/* line 244, ../sass/_index.scss */
main .price .price-block .price-descrip .distance {
  padding: 10px 0;
  background: url(../img/distance.png) no-repeat center center;
  position: relative;
  overflow: hidden;
}
/* line 249, ../sass/_index.scss */
main .price .price-block .price-descrip .distance .start-time {
  float: left;
}
/* line 252, ../sass/_index.scss */
main .price .price-block .price-descrip .distance .end-time {
  float: right;
}
/* line 255, ../sass/_index.scss */
main .price .price-block .price-descrip .distance .total-distance {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}
/* line 261, ../sass/_index.scss */
main .price .price-block .price-descrip .distance .total-time {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
/* line 270, ../sass/_index.scss */
main .price .price-block .price-descrip .price-reserv span {
  margin-top: 10px;
  font-size: 14px;
}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.eot");
  src: url("../fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bold-webfont.woff") format("woff"), url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto-italic-webfont.ttf") format("truetype"), url("../fonts/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/_default-clases.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 9, ../sass/_default-clases.scss */
body {
  background: #fff;
  margin: 0 auto;
  font: 12px/1 arial, helvetica, sans-serif;
}

/* line 14, ../sass/_default-clases.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* line 17, ../sass/_default-clases.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 21, ../sass/_default-clases.scss */
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

/* line 27, ../sass/_default-clases.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/_default-clases.scss */
ul {
  list-style: none;
}

/* line 34, ../sass/_default-clases.scss */
img {
  max-width: 100%;
  border: none;
}

/* line 38, ../sass/_default-clases.scss */
input, button, textarea {
  border: none;
  outline: none;
}

/* line 42, ../sass/_default-clases.scss */
textarea {
  resize: vertical;
}

/* line 45, ../sass/_default-clases.scss */
input[type="submit"], button {
  cursor: pointer;
}

/* line 48, ../sass/_default-clases.scss */
.conteiner {
  width: px;
  padding: 0 10px;
  margin: 0 auto;
}

/* BTN DEFAULT STYLE */
/* line 54, ../sass/_default-clases.scss */
.btn {
  display: inline-block;
  background: #db3a34;
  color: #fff;
  font-family: 'robotomedium';
  padding: 12px 15px;
  font-size: 18px;
  text-transform: uppercase;
}

/* line 63, ../sass/_default-clases.scss */
.btn:hover {
  background: #b9322d;
}

/* line 66, ../sass/_default-clases.scss */
input.btn {
  font-size: 21px;
}

/* TITLE STYLE */
/* line 71, ../sass/_default-clases.scss */
h6 {
  color: #000;
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'robotolight';
}
/* line 76, ../sass/_default-clases.scss */
h6 span {
  font-family: 'robotolight';
  font-weight: bold;
}

/* INPUT STYLE */
/* line 83, ../sass/_default-clases.scss */
input[type="text"] {
  background: transparent;
  border: 2px solid #000;
  font-family: 'robotoitalic';
  font-size: 16px;
  color: #4f4f4f;
  padding: 0 20px;
  height: 50px;
}

/* wrong input validate class */
/* line 93, ../sass/_default-clases.scss */
input.required {
  border-color: #db3a34;
}

/* line 96, ../sass/_default-clases.scss */
input:focus {
  border-color: #a0b137;
}

/* placeholder style */
/* line 100, ../sass/_default-clases.scss */
::-webkit-input-placeholder {
  color: #4f4f4f;
}

/* line 101, ../sass/_default-clases.scss */
::-moz-placeholder {
  color: #4f4f4f;
}

/* line 102, ../sass/_default-clases.scss */
:-moz-placeholder {
  color: #4f4f4f;
}

/* line 103, ../sass/_default-clases.scss */
:-ms-input-placeholder {
  color: #4f4f4f;
}

/* line 105, ../sass/_default-clases.scss */
:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 106, ../sass/_default-clases.scss */
:focus::-moz-placeholder {
  color: transparent;
}

/* line 107, ../sass/_default-clases.scss */
:focus:-moz-placeholder {
  color: transparent;
}

/* line 108, ../sass/_default-clases.scss */
:focus:-ms-input-placeholder {
  color: transparent;
}
