// HEADER STYLE BEGIN
header{
	height: 85px;
	background-color: $headerBg;
	padding-top: 20px;
		.logo{
			float: left;
			display: inline-block;
			margin-left: 130px;
				h1{
					display: inline-block;
					font-size: 52px;
					color: white;
					font-family: 'robotolight';
				}
		}	
		.contact{
			float: left;
			margin-left: 90px;
				.number{
					margin-bottom: 15px;
						li{
							&:before{
									content: "";
									display: inline-block;
									margin-right: 8px;
									background: url("../img/cont-number.png") no-repeat;
									vertical-align: middle;

								}
						}
						.life{
							&:before{
								background-position: -35px -5px;
								width: 30px; 
								height: 16px;
							}
						}
						.star{
							&:before{
								background-position: -5px -5px;
								width: 20px; 
								height: 20px;
							}
						}
						.mts{
								&:before{
									background-position: -35px -31px;
									width: 19px; 
									height: 19px;
								}
						}
						li{
							span{
								vertical-align: middle;
							}
						}
						li:not(last-child){
							margin-right: 40px;
						}
				}
				.header-nav{
					a{
						color: white;
						font-size: 15px;
					}
					a:hover{
						color: $buttonColor;
					}
					li:not(last-child){
							margin-right: 35px;
						}
				}
				li{
					display: inline-block;
					text-transform: uppercase;
					font-family: 'robotomedium';
					color: #fff;
					font-size: 16px;
				}
		}
}
// 




// HEADER STYLE END


// MAIN STYLE START

main{
	.carusel{
		position: relative;
		img{
			width: 100%;
	 	}

	} 
	.slick-dots{
		position: absolute;
		bottom: 15px;
		left: 50%;
		li{
			display: inline-block;
			button{
				color: transparent;
				@include size(20px,20px);
				@include border-radius(50%);
				@include border(2px, solid, #fff);
				background-color: $buttonColorSlider;
				margin-right: 22px;
					.slick-active{
						background-color: #db3a34;
					}
			}
		}
		.slick-active{
				button{
					background-color: #db3a34;
				}
		}
	} 
	.timer-wrap{
		margin: 42px 0px;
		overflow: hidden;
		border-bottom: 2px solid #6a5e5a;
		-webkit-border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
		-o-border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
		border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
			.title{
				margin-bottom: 7px;
			}
			.red-star{
				font-size: 16px;
				color: #000;
				font-family: 'robotoregular';
					span{
						font-size: 30px;
						color: #db3a34;
					}
			}
			.timer-block {
   			 	background: #ebebeb;
   			 	height: 159px;
    			width: 541px;
   			 	text-align: center;
    			padding-top: 14px;
    			margin-top: 22px;
    			display: inline-block;
    			padding: 20px;
    			>span{
    				color: #db3a34;
    				font-family: "Roboto-Medium";
    				font-size: 14px;
    				margin-bottom: 15px;
    				display: inline-block;
    			}
    			.table-cell{
    				display: inline-block;
					.tab-val {
    					font-size: 80px;
    					line-height: 63px;
    					color: #4f4f4f;
    					padding: 0 24px;
    					font-family: 'roboto_condensedbold';
					}
					.tab-unit {
    					font-size: 16px;
    					color: #000;
    					font-family: 'robotomedium';
					}						
    			}
			}
			.timer{
				float: left;
			}
			.discount-form{
				float: right;
				width: 300px;
					h6{
						margin-bottom: 30px;
					}
					input{
						width: 100%;
						margin-bottom: 18px;
					}
			}
	}
	.price{
		padding: 38px 130px 59px 130px;
		.title{
			margin-bottom: 30px;
		}
		.directions{
			 margin: 0 -10px;
			 .price-title{
			 	overflow: hidden;
			 }
		}
		.price-block{
			width: 50%;
			height: 182px;
			background-color: #ebebeb;
			float: left;
			padding: 0 10px;
			margin-bottom: 35px;
			background-clip: content-box;
			.direction{
				width: 320px;
			    height: 50px;
			    background: $directionBg;
			    padding: 13px 20px;
			    float: left;
			}
			.total-price {
			    width: 140px;
			    float: right;
			    padding-top: 5px;
			    span{
			    	.old-price{
			    	font-family: 'robotolight';
    				font-size: 16px;
    				color: #000;
    				text-decoration: line-through;
    				margin-right: 60px;
    			}
			    }
			}
			.direction span {
    			font-family: 'robotomedium';
    			font-size: 21px;
    			color: #fefefe;
    			display: inline-block;
    			position: relative;
			}
			.direction span + span {
    			padding-left: 26px;
    			&:before{
    				content: "";
   					display: inline-block;
   					position: absolute;
    				width: 20px;
    				height: 8px;
   					left: 2px;
    				top: 50%;
    				margin-top: -4px;
    				background: url(../img/derection-arrow.png) no-repeat;
    			}
			}
			.real-price{
				width: 140px;
    			float: right;
    			padding-top: 5px;
    			span{
    				float: right;
    			}
    			.old-price {
    				font-family: 'robotolight';
   					font-size: 16px;
    				color: #000;
    				text-decoration: line-through;
    				margin-right: 60px;				
				}
				.new-price {
    				font-size: 24px;
    				color: #db3a34;
    				font-family: 'robotomedium';
    				margin-right: 20px;
    			}
			}
			.price-descrip{
				padding: 20px 20px 10px;
				overflow: hidden;
				.distance {
    				padding: 10px 0;
    				background: url(../img/distance.png) no-repeat center center;
    				position: relative;
    				overflow: hidden;
    				.start-time {
    					float: left;
					}
					.end-time {
    					float: right;
					}
					.total-distance {
    					position: absolute;
    					width: 100%;
    					text-align: center;
    					top: 0;
					}
					.total-time {
						position: absolute;
    					width: 100%;
    					text-align: center;
    					bottom: 0;

					}
    			}
    			.price-reserv{
						span{
							margin-top: 10px;
							font-size: 12px;
						}
				}
			}
		}
	}
	.advantages{
		padding: 40px 0 50px 0;
    	background: url(../img/advantage-bg.jpg) no-repeat center;
    	background-size: cover;
    	overflow: hidden;
    	.title{
    		margin-bottom: 45px;
    	}
    	.col{
    		position: relative;
    		width: 16.5%;
    		float: left;
    		padding: 100px 10px 0;
    		text-align: center;
    		&:before{
    			content: "";
    			display: inline-block;
    			position: absolute;
    			width: 84px;
    			height: 84px;
    			top: 0;
    			left: 50%;
    			margin-left: -42px;
    			background: url(../img/sprite-Advanteges.png);
    		}
    		&:before{
    			background-position: -5px -5px;
    		}
    		span{
    			font-family: 'robotomedium';
    			font-size: 16px;
    			color: #000;
    			text-transform: uppercase;
    		}
    	}
    	.img1{
    		&:before{
    			background-position: -5px -5px;
    		}
    	}
    	.img2{
    		&:before{
    			background-position: -99px -5px;
    		}
    	}
    	.img3{
    		&:before{
    			background-position: -5px -99px;
    		}
    	}
    	.img4{
    		&:before{
    			background-position: -99px -99px;
    		}
    	}
    	.img5{
    		&:before{
    			background-position: -193px -5px;
    		}
    	}
    	.img6{
    		&:before{
    			background-position: -193px -99px;
    		}
    	}
	}
	.reviews{
		.col {
    		float: left;
    		padding: 0 10px;
    		width: 33.3333%;
    		margin-bottom: 40px;
		}
		.review-title{
			img {
    			vertical-align: middle;
    			margin-right: 15px;
			}
			span{
    			vertical-align: middle;
    			font-size: 18px;
    			color: #000;
    			font-family: 'robotomedium';
			}
		}
		.review-text {
			p{
    			font-size: 16px;
    			color: #000;
    			font-family: 'robotolight';
			}
		}
	}
	.contact-form{
		form{
			width: 680px;
    		margin: 0 auto;
    		text-align: center;
    		input[type="text"] + input[type="text"] {
    			margin: 0 0 30px 18px;
			}
			.input-top {
    			width: 212px;
			}
			.input-lg {
    			width: 329px;
			}
			input[name="name"] {
    			margin: 0 !important;
			}
		}
	}
}


// MAIN STYLE END


// FOOTER STYLE BEGIN



// FOOTER STYLE END


// POPUP BEGIN

.popup{
	display: none;
	width: 300px;
	height: 100px;
	background: #fff;
	border-radius: 10px;
}



// POPUP END