// HEADER STYLE BEGIN
header{
	height: 85px;
	background-color: $headerBg;
	padding-top: 20px;
		.logo{
			float: left;
			display: inline-block;
			margin-left: 130px;
				h1{
					display: inline-block;
					font-size: 52px;
					color: white;
					font-family: 'robotolight';
				}
		}	
		.contact{
			float: left;
			margin-left: 90px;
				.number{
					margin-bottom: 15px;
						li{
							&:before{
									content: "";
									display: inline-block;
									margin-right: 8px;
									background: url("../img/cont-number.png") no-repeat;
									vertical-align: middle;

								}
						}
						.life{
							&:before{
								background-position: -35px -5px;
								width: 30px; 
								height: 16px;
							}
						}
						.star{
							&:before{
								background-position: -5px -5px;
								width: 20px; 
								height: 20px;
							}
						}
						.mts{
								&:before{
									background-position: -35px -31px;
									width: 19px; 
									height: 19px;
								}
						}
						li{
							span{
								vertical-align: middle;
							}
						}
						li:not(last-child){
							margin-right: 40px;
						}
				}
				.header-nav{
					a{
						color: white;
						font-size: 15px;
					}
					a:hover{
						color: $buttonColor;
					}
					li:not(last-child){
							margin-right: 35px;
						}
				}
				li{
					display: inline-block;
					text-transform: uppercase;
					font-family: 'robotomedium';
					color: #fff;
					font-size: 16px;
				}
		}
}
// 




// HEADER STYLE END


// MAIN STYLE START

main{
	.carusel{
		position: relative;
		img{
			width: 100%;
	 	}

	} 
	.slick-dots{
		position: absolute;
		bottom: 15px;
		left: 50%;
		li{
			display: inline-block;
			button{
				color: transparent;
				@include size(20px,20px);
				@include border-radius(50%);
				@include border(2px, solid, #fff);
				background-color: $buttonColorSlider;
				margin-right: 22px;
					.slick-active{
						background-color: #db3a34;
					}
			}
		}
		.slick-active{
				button{
					background-color: #db3a34;
				}
		}
	} 
	.timer-wrap{
		margin: 42px 130px;
		overflow: hidden;
		border-bottom: 2px solid #6a5e5a;
		-webkit-border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
		-o-border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
		border-image: url(../img/gorizontal-dot.png) 0 0 2 repeat;
			.title{
				margin-bottom: 7px;
			}
			.red-star{
				font-size: 16px;
				color: #000;
				font-family: 'robotoregular';
					span{
						font-size: 30px;
						color: #db3a34;
					}
			}
			.timer{
				float: left;
			}
			.discount-form{
				float: right;
				width: 300px;
					h6{
						margin-bottom: 30px;
					}
					input{
						width: 100%;
						margin-bottom: 18px;
					}
			}
	}
	.price{
		padding: 38px 130px 59px 130px;
		.title{
			margin-bottom: 30px;
		}
		.directions{
			 margin: 0 -10px;
		}
		.price-block{
			width: 50%;
			height: 182px;
			background-color: #ebebeb;
			float: left;
			padding: 0 10px;
			margin-bottom: 35px;
			background-clip: content-box;
			.direction{
				width: 320px;
			    height: 50px;
			    background: $directionBg;
			    padding: 13px 20px;
			    float: left;
			}
			.total-price {
			    width: 140px;
			    float: right;
			    padding-top: 5px;
			    span{
			    	.old-price{
			    	font-family: 'robotolight';
    				font-size: 16px;
    				color: #000;
    				text-decoration: line-through;
    				margin-right: 60px;
    			}
			    }
			}
			.direction span {
    			font-family: 'robotomedium';
    			font-size: 21px;
    			color: #fefefe;
    			display: inline-block;
    			position: relative;
			}
			.direction span + span {
    			padding-left: 26px;
    			&:before{
    				content: "";
   					display: inline-block;
   					position: absolute;
    				width: 20px;
    				height: 8px;
   					left: 2px;
    				top: 50%;
    				margin-top: -4px;
    				background: url(../img/derection-arrow.png) no-repeat;
    			}
			}
		}

	}
}


// MAIN STYLE ENDa